html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #161f4b;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin: 0;
}

a {
  color: #3348b1;
  text-decoration: none;
}
a:hover,
a:active {
  color: #3348b1;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px; /* 940, 960, 1108,  */
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

.mobile-h1 {
  text-align: center;
  margin-top: 50px;
}
.mobile-h1 h1 {
  color: #161f4b;
}

/* Headers on top of images */
span.quality-link-consulting,
span.quality-link-training {
  padding: 1px;
  background-color: rgba(1, 28, 55, 0.5);
}
span.global-quality-assurance,
span.quality-link-services {
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.country-list {
  list-style-type: none;
  text-align: right;
}

/* inserts quality link icone in front of a list */
.quality-link-icon {
  list-style-image: url('../assets/quality-links-icon_16x16.png');
  list-style-position: inside;
  margin-left: 0;
}

@media (min-width: 550px) {
  .quality-link-icon-xxl {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('../assets/quality-link-links.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 15rem;
  }
}

@media (min-width: 760px) {
  .quality-link-icon-xxl {
    margin-left: 30%;
  }
}

/* Services */
.services ul li {
  font-style: italic;
  font-weight: lighter;
}

/* style the groups
--------------------------------------------- */
/*.logo {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../assets/QualityLinkLogo_974x110.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 10rem;
  margin-top: 47px;
}*/

/*#group1 .logo {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../assets/QualityLinkLogo_974x110.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 5rem;
}*/
/*.dna-helix {
  background: rgb(255, 255, 255);
  background-image: url('../assets/DNA-Helix_high_989x640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}*/

/*.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 100%;
  justify-content: center;
}

.flex-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-item-middle {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  max-width: 100%;
}*/

/*#group1 .beaker-pipette {
  background: rgb(255, 255, 255);
  background-image: url('../assets/Beaker-Pipette_high_989x640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}
#group1 .periodic-table {
  background: rgb(255, 255, 255);
  background-image: url('../assets/Periodic-Table_high_989x640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}
#group3 .parallax__layer--deep {
  background: rgb(255, 255, 255);
  background-image: url('../assets/WorldMap_medium_989x640.jpg');
  background-size: cover;
  min-height: 20rem;
}*/
/*#group4 .parallax__layer--base {
  background: rgb(255, 255, 255);
}*/

/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
  content: '';
  display: table;
  clear: both;
}
